---
---

@import "variables"
@import "colors"
@import "header"
@import "buttons"
@import "typography"
@import "sideNav"

body
  background-color: rgba(0,0,0,0.125)

h1,h2,h3,h4,h5,h6,p
  margin: 0

a
  text-decoration: none
  color: inherit

.section-card
  padding: 4rem 2rem
  background-color: white

  &_title
    margin-bottom: 2rem

.custom-divider
  height: 3px 
  background-color: $border_gray

  &.white
    background-color: white

.gurzu-blue-text
  color: $gurzu_blue

.gurzu-blue-dark-text
  color: $gurzu_blue_dark