---
layout: default
permalink: /typography
---

<div class="typography section-card">
  <h2 class="section-card_title">Typography</h2>

  <div class="section-card_information-container">
    <div>
      <div class="typography_headings">
        <h1 class="d-flex align-items-center">Heading 1</h1>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h1 class="text-center">h1</h1>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 2.5rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <h2 class="d-flex align-items-center">Heading 2</h2>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h2 class="text-center">h2</h2>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 2rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <h3 class="d-flex align-items-center">Heading 3</h3>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h3 class="text-center">h3</h3>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 1.75rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <h4 class="d-flex align-items-center">Heading 4</h4>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h4 class="text-center">h4</h4>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 1.5rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <h5 class="d-flex align-items-center">Heading 5</h5>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h5 class="text-center">h5</h5>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 1.25rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <h6 class="d-flex align-items-center">Heading 6</h6>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <h6 class="text-center">h6</h6>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 1rem</p>
            <p>Font weight: 500</p>
          </div>
        </div>
      </div>

      {% include divider.html %}

      <div class="typography_headings">
        <p class="d-flex align-items-center">Paragraph</p>
        <div
          class="d-flex flex-column justify-content-center"
          style="width: 40%"
        >
          <p class="text-center">p</p>
          <div class="d-flex justify-content-center">
            <p class="me-3">Font size: 1rem</p>
            <p>Font weight: 400</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-6">
        <div class="typography_specific">
          <div class="d-flex typography_specific_one">
            <div class="d-flex align-items-center typography_specific_title">
              <h5>Section Title</h5>
            </div>

            <div class="typography_specific_info">
              <div class="d-flex justify-content-center">
                <p style="width: 50%">Font Family</p>
                <p style="width: 50%">Roboto</p>
              </div>

              <div class="d-flex justify-content-center">
                <p style="width: 50%">Font Size</p>
                <p style="width: 50%">1.5rem</p>
              </div>

              <div class="d-flex justify-content-center">
                <p style="width: 50%">Font Weight</p>
                <p style="width: 50%">900</p>
              </div>
            </div>
          </div>

          {% include divider.html bgColor = "white" %}

          <div class="d-flex typography_specific_one">
            <div class="d-flex align-items-center typography_specific_title">
              <h5>Paragraph Texts</h5>
            </div>

            <div class="typography_specific_info">
              <div class="d-flex justify-content-center">
                <p style="width: 50%">Font Family</p>
                <p style="width: 50%">Avenir</p>
              </div>

              <div class="d-flex">
                <p style="width: 50%">Font Size</p>
                <p style="width: 50%">1.1rem</p>
              </div>

              <div class="d-flex">
                <p style="width: 50%">Color</p>
                <p style="width: 50%">#595F68</p>
              </div>

              <div class="d-flex">
                <p style="width: 50%">Line Height</p>
                <p style="width: 50%">1.7</p>
              </div>
            </div>
          </div>
        </div>

        <div style="height: 5rem"></div>

        <div class="typography_links">
          <h5 class="section-card_title">Links</h5>

          <div class="typography_links_one">
            <div class="title">
              <h5>Nav Links</h5>
            </div>

            <div class="styles">
              <div class="normal">
                <p class="mb-2 text-center"><b>Normal</b></p>
                <div class="d-flex">
                  <p style="width: 50%">Color</p>
                  <p style="width: 50%">$dark_gray</p>
                </div>

                <div class="d-flex">
                  <p style="width: 50%">Font Weight</p>
                  <p style="width: 50%">600</p>
                </div>
              </div>

              <div style="width: 5%"></div>

              <div class="hovered">
                <p class="mb-2 text-center"><b>Hovered</b></p>
                <div class="d-flex">
                  <p style="width: 50%">Color</p>
                  <p style="width: 50%">
                    <span class="gurzu-blue-text">$primary_color</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="my-4">{% include divider.html %}</div>

          <div class="typography_links_one">
            <div class="title">
              <h5>Icon Links</h5>
            </div>

            <div class="styles">
              <div class="normal">
                <p class="mb-2 text-center"><b>Normal</b></p>
                <div class="d-flex">
                  <p style="width: 40%">Filter</p>
                  <p style="width: 50%">grayscale(100%)</p>
                </div>
              </div>

              <div style="width: 5%"></div>

              <div class="hovered">
                <p class="mb-2 text-center"><b>Hovered</b></p>
                <div class="d-flex">
                  <p style="width: 40%">Filter</p>
                  <p style="width: 50%">grayscale(0)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>
