---
layout: default
permalink: /buttons
---


<div class="buttons section-card">
  <h2 class="section-card_title">Buttons</h2>

  <div class="buttons_contents">
    <h5 class="buttons_contents_title mb-4">Primary</h5>

    <button class="buttons_primary mb-3 me-3">Primary</button>
    <button class="buttons_secondary mb-3 me-3">Secondary</button>
    <button class="buttons_tertiary mb-3">Tertiary</button>

    <div class="code">
      &lt;button class="buttons_primary"&gt;Primary&lt;/button&gt;</br>
      </br>
      &lt;button class="buttons_secondary"&gt;Secondary&lt;/button&gt;</br>
      </br>
      &lt;button class="buttons_tertiary"&gt;Tertiary&lt;/button&gt;
    </div>
  </div>
</div>
