---
layout: default
permalink: /dropdown
---

<div class="custom-dropdown section-card">
  <h2 class="section-card_title">Dropdown</h2>

  <div class="dropdown mb-3">
    <button
      class="btn btn-secondary dropdown-toggle custom-dropdown_primary"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Primary button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="dropdown mb-3">
    <button
      class="btn btn-secondary dropdown-toggle custom-dropdown_secondary"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Secondary button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="dropdown mb-3">
    <button
      class="btn btn-secondary dropdown-toggle custom-dropdown_tertiary"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Tertiary button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="code">
    &lt;div class="dropdown"&gt;</br>
    &lt;button</br>
      class="btn btn-secondary dropdown-toggle custom-dropdown_primary"</br>
      type="button"</br>
      id="dropdownMenuButton"</br>
      data-bs-toggle="dropdown"</br>
      aria-expanded="false"</br>
    &gt;</br>
      Primary button</br>
    &lt;/button&gt;</br>
    &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;</br>
  </br>
  </br>
  </br>
  &lt;div class="dropdown mb-3"&gt;</br>
    &lt;button</br>
      class="btn btn-secondary dropdown-toggle custom-dropdown_secondary"</br>
      type="button"</br>
      id="dropdownMenuButton"</br>
      data-bs-toggle="dropdown"</br>
      aria-expanded="false"</br>
    &gt;</br>
      Secondary button</br>
    &lt;/button&gt;</br>
    &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;</br>
  </br>
  </br>
  </br>
  &lt;div class="dropdown mb-3"&gt;</br>
    &lt;button</br>
      class="btn btn-secondary dropdown-toggle custom-dropdown_tertiary"</br>
      type="button"</br>
      id="dropdownMenuButton"</br>
      data-bs-toggle="dropdown"</br>
      aria-expanded="false"</br>
    &gt;</br>
      Tertiary button</br>
    &lt;/button&gt;</br>
    &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;</br>
      &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;
  </div>
</div>
