---
layout: default
permalink: /form
---

<div class="custom-form section-card">
  <h2 class="section-card_title">Form</h2>

  <div class="custom-form_form mb-3">
    <div class="custom-input mb-4">
      <label class="mb-1">Label One</label>
      <input type="text" placeholder="Label" />
    </div>

    <div class="custom-input mb-4">
      <label class="mb-1">Label Two</label>
      <textarea placeholder="Textarea..."></textarea>
    </div>

    <button class="buttons_primary">Submit</button>
  </div>

  <div class="code">
    &lt;div class="custom-form_form"&gt;</br>
    &lt;div class="custom-input mb-4"&gt;</br>
      &lt;label class="mb-1"&gt;Label One&lt;/label&gt;</br>
      &lt;input type="text" placeholder="Label" /&gt;</br>
    &lt;/div&gt;</br>

    &lt;div class="custom-input mb-4"&gt;</br>
      &lt;label class="mb-1"&gt;Label Two&lt;/label&gt;</br>
      &lt;textarea placeholder="Textarea..."&gt;&lt;/textarea&gt;</br>
    &lt;/div&gt;</br>

    &lt;button class="buttons_primary"&gt;Submit&lt;/button&gt;</br>
  &lt;/div&gt;
  </div>
</div>
