---
layout: default
permalink: /list
---

<div class="section-card">
  <h2 class="section-card_title">List</h2>

  <div class="list dot mb-4">
    <h5>Dot List</h5>
    <ul>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
    </ul>
  </div>

  <div class="code mb-5">
    &lt;div class="list dot"&gt;</br>
    &lt;h5&gt;Dot List&lt;/h5&gt;</br>
    &lt;ul&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;
  </div>

  <div class="list decimal mb-4">
    <h5>Numbered List</h5>
    <ul>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
    </ul>
  </div>

  <div class="code mb-5">
    &lt;div class="list decimal"&gt;</br>
    &lt;h5&gt;Numbered List&lt;/h5&gt;</br>
    &lt;ul&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;
  </div>

  <div class="list normal mb-4">
    <h5>Normal List</h5>
    <ul>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
      <li>
        <span>List Item</span>
      </li>
    </ul>
  </div>

  <div class="code">
    &lt;div class="list normal"&gt;</br>
    &lt;h5&gt;Normal List&lt;/h5&gt;</br>
    &lt;ul&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
      &lt;li&gt;</br>
        &lt;span&gt;List Item&lt;/span&gt;</br>
      &lt;/li&gt;</br>
    &lt;/ul&gt;</br>
  &lt;/div&gt;
  </div>
</div>
