---
layout: default
permalink: /modal
---

<div class="section-card">
  <h2 class="section-card_title">Modal</h2>

  <div class="custom-modal mb-3">
    <button class="buttons_primary" onclick="modalBtnClick()">Primary</button>
  </div>

  <div class="code">
    &lt;button class="buttons_primary" onclick="modalBtnClick()"&gt;Primary&lt;/button&gt;</br>
    </br>
    &lt;div class="custom-modal-dialogue"&gt;</br>
  &lt;h1&gt;This is modal&lt;/h1&gt;</br>

  &lt;div class="mt-3 text-end"&gt;</br>
    &lt;button class="buttons_primary me-3"&gt;Action&lt;/button&gt;</br>
    &lt;button class="buttons_tertiary" onclick="modalBtnClick()"&gt;Close&lt;/button&gt;</br>
  &lt;/div&gt;</br>
&lt;/div&gt;
  </div>
</div>
