<div class="section-card_information-container">
  <div class="buttons_one">
    <div class="buttons_one_title buttons_one_column {{include.buttonName}}">
      <h4>{{include.buttonName}} Button</h4>
    </div>

    <div class="buttons_one_column">
      <div class="d-flex justify-content-between">
        {% if include.buttonName == "Primary" %}
        <p style="font-weight: 600">Color</p>
        <p class="ps-5">white</p>
        {% elsif include.buttonName == "Secondary" %}
        <p style="font-weight: 600">Border Color</p>
        <p class="ps-5"><span class="gurzu-blue-text">$gurzu_blue</span></p>
        {% endif %}
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-weight: 600">Border Radius</p>
        <p class="ps-5">50px</p>
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-weight: 600">Padding</p>
        <p class="ps-5">12px 32px</p>
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-weight: 600">Border</p>
        <p class="ps-5">none</p>
      </div>
      <div class="d-flex justify-content-between">
        <p style="font-weight: 600">Font Weight</p>
        <p class="ps-5">600</p>
      </div>
    </div>

    <div class="buttons_one_column">
      <div class="text-center">
        <button class="buttons_{{include.buttonName | downcase}}">
          {{include.buttonName}}
        </button>
      </div>
      <!-- Primary button specific css -->
      {% if include.buttonName == "Primary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2"><span class="gurzu-blue-text">$gurzu_blue</span></p>
      </div>
      {% endif %}

      <!-- Secondary button specific css -->
      {% if include.buttonName == "Secondary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2">white</p>
      </div>
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Color</p>
        <p class="ps-2"><span class="gurzu-blue-text">$gurzu_blue</span></p>
      </div>
      {% endif %}

      <!-- Tertiary button specific css -->
      {% if include.buttonName == "Tertiary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2">white</p>
      </div>
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Border Color</p>
        <p class="ps-2">$border_gray</p>
      </div>
      {% endif %}
    </div>

    <div class="buttons_one_column">
      <div class="text-center">
        <button class="buttons_{{include.buttonName | downcase}}_hovered">
          Hovered
        </button>
      </div>
      <!-- Primary button hovered specific -->
      {% if include.buttonName == "Primary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2">
          <span class="gurzu-blue-dark-text">$gurzu_blue_dark</span>
        </p>
      </div>
      {% endif %}

      <!-- Secondary button hovered specific -->
      {% if include.buttonName == "Secondary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2"><span class="gurzu-blue-text">$gurzu_blue</span></p>
      </div>
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Color</p>
        <p class="ps-2">white</p>
      </div>
      {% endif %}

      <!-- Tertiary button hovered specific -->
      {% if include.buttonName == "Tertiary" %}
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Background</p>
        <p class="ps-2"><span class="gurzu-blue-text">$gurzu_blue</span></p>
      </div>
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Border Color</p>
        <p class="ps-2">$border_gray</p>
      </div>
      <div class="d-flex justify-content-center">
        <p style="font-weight: 600">Color</p>
        <p class="ps-2">White</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
